<app-nav></app-nav>
<body>

    <!--Header===-->
    <header class="header">
        <div class="hero">
            <h1 class="title">Productos 100% Frescos</h1>

    </div>
    </header>
    <!--End of Header==================-->
     <!---=====About Section=====-->
      <section id="about">
       <div>
       <h2 class="title-text">Sobre Nosotros</h2>
    </div>
    <div class="about-center">
        <!---Single item-->
        <article class="about">
            <div class="about-icon"><i class="fas fa-apple-whole"></i></div>
            <div class="about-text">
                <h2 class="about-subtitle">Frutas</h2>
                <p class="about-info">Encuentra una variedad de frutas frescas 
                    y jugosas, desde manzanas y guineos hasta deliciosas piñas y mangos, perfectas para batidos y postres.</p>
            </div>
        </article>
        <!--End of single item-->
        <!---Single item-->
        <article class="about">
            <div class="about-icon"><i class="fas fa-carrot"></i></div>
            <div class="about-text">
                <h2 class="about-subtitle">Vegetales</h2>
                <p class="about-info">Explora una colorida selección de vegetales frescos, 
                    desde lechugas y espinacas hasta tomates y cebolla, perfectos para ensaladas y guisos.</p>
            </div>
        </article>
        <!--End of single item-->
        <!---Single item-->
        <article class="about">
            <div class="about-icon"><i class="fas fa-seedling"></i></div>
            <div class="about-text">
                <h2 class="about-subtitle">Legumbres</h2>
                <p class="about-info">Compra legumbres ricas en proteínas, 
                    como lentejas y garbanzos, ideales para guisos, ensaladas y platillos vegetarianos.</p>
            </div>
        </article>
        <!--End of single item-->
        <!---Single item-->
        <article class="about">
            <div class="about-icon"><i class="fas fa-wheat-awn"></i></div>
            <div class="about-text">
                <h2 class="about-subtitle">Raíces</h2>
                <p class="about-info">Descubre raíces frescas como yuca 
                    y otoe, perfectas para nuestras comidas, añadiendo sabor y nutrición.</p>
            </div>
        </article>
        <!--End of single item-->
    </div>
   </section>

   <!--=====End of About Section============-->
   <!---Menu Section---=========-->
   <section class="menu" id="menu">
       <article class="menu-image"></article>
       <article class="menu-text">
           <div class="menu-text-center">
               <h1>Nuestros Productos</h1>
               <p>Cada uno de nuestros productos está cuidadosamente 
                seleccionado para ofrecerte lo mejor de la naturaleza, ayudándote a disfrutar de una dieta saludable y deliciosa. ¡Explora nuestro catálogo y encuentra tus favoritos!</p>
                <a  routerLink="/producto" ng-reflect-router-link="producto" href="/producto">Explorar</a>
           </div>
       </article>
   </section>
   <!---End of Menu Section============-->

   <!--=======-----------Card Section-----====================-->
   <section id="card">
      <div class="card-container">
              <!--======Card Start ----============-->
        <article class="card-card">
            <div class="counter bg-white rounded p-5">
                <i class="fa fa-users"></i>
                <h4>Clientes Satisfechos</h4>
                <h1>1963</h1>
            </div>
        </article>
        <article class="card-card">
            <div class="counter bg-white rounded p-5">
                <i class="fa fa-check-circle"></i>
                <h4>Calidad de Servicio</h4>
                <h1>100%</h1>
            </div>
        </article>
              <article class="card-card">
                    <div class="counter bg-white rounded p-5">
                        <i class="fa fa-certificate"></i>
                        <h4>Calidad Certificada</h4>
                        <h1>100%</h1>
                    </div>
                </article>
                <article class="card-card">
                    <div class="counter bg-white rounded p-5">
                        <i class="fa fa-shopping-basket"></i>
                        <h4>Productos Disponibles</h4>
                        <h1>1,000</h1>
                    </div>
                    </article>
       </div>



   </section>
       <!--======End of Card =========-->


<script src="onClickMenu.js"></script>
<!--Magnific POPup Jquery also-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="magnific/jquery.magnific-popup.min.js"></script>
<script src="magnific/magnific.js"></script>
</body>


