<!-- Featured Section Begin -->
<section class="featured spad borde">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Nuestros Productos</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">Todos</li>
                        <li data-filter=".frutas">Frutas</li>
                        <li data-filter=".legumbres">Legumbres</li>
                        <li data-filter=".verduras">Verduras</li>
                        <li data-filter=".raices">Raíces</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter">
            <div class="col-lg-3 col-md-4 col-sm-6 mix frutas">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="images/fresa.jpg">
                        <img src="images/fresa.jpg" width="100%" height="100%">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a routerLink="/detalleproducto" ng-reflect-router-link="detalleproducto" href="/detalleproducto"><i class="fa fa-eye"></i></a></li>
                            <li><a data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a routerLink="/detalleproducto" ng-reflect-router-link="detalleproducto" href="/detalleproducto">Crab Pool Security</a></h6>
                        <h5>$30.00</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix legumbres">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="img/featured/feature-2.jpg">
                        <img src="images/maiz.jpg" width="100%" height="100%">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a routerLink="/detalleproducto" ng-reflect-router-link="detalleproducto" href="/detalleproducto"><i class="fa fa-eye"></i></a></li>
                            <li><a data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a routerLink="/detalleproducto" ng-reflect-router-link="detalleproducto" href="/detalleproducto">Crab Pool Security</a></h6>
                        <h5>$30.00</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix verduras">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="img/featured/feature-3.jpg">
                        <img src="images/brocoli.jpg" width="100%" height="100%">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a routerLink="/detalleproducto" ng-reflect-router-link="detalleproducto" href="/detalleproducto"><i class="fa fa-eye"></i></a></li>
                            <li><a data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a routerLink="/detalleproducto" ng-reflect-router-link="detalleproducto" href="/detalleproducto">Crab Pool Security</a></h6>
                        <h5>$30.00</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix raices">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="img/featured/feature-4.jpg">
                        <img src="images/yuca.jpg" width="100%" height="100%">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a routerLink="/detalleproducto" ng-reflect-router-link="detalleproducto" href="/detalleproducto"><i class="fa fa-eye"></i></a></li>
                            <li><a data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a routerLink="/detalleproducto" ng-reflect-router-link="detalleproducto" href="/detalleproducto">Crab Pool Security</a></h6>
                        <h5>$30.00</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix verduras">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="img/featured/feature-5.jpg">
                        <img src="images/aji.jpg" width="100%" height="100%">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a routerLink="/detalleproducto" ng-reflect-router-link="detalleproducto" href="/detalleproducto"><i class="fa fa-eye"></i></a></li>
                            <li><a data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a routerLink="/detalleproducto" ng-reflect-router-link="detalleproducto" href="/detalleproducto">Crab Pool Security</a></h6>
                        <h5>$30.00</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix frutas">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="img/featured/feature-6.jpg">
                        <img src="images/manzana.jpg" width="100%" height="100%">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a routerLink="/detalleproducto" ng-reflect-router-link="detalleproducto" href="/detalleproducto"><i class="fa fa-eye"></i></a></li>
                            <li><a data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a routerLink="/detalleproducto" ng-reflect-router-link="detalleproducto" href="/detalleproducto">Crab Pool Security</a></h6>
                        <h5>$30.00</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix legumbres">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="img/featured/feature-7.jpg">
                        <img src="images/guandu.jpg" width="100%" height="100%">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a routerLink="/detalleproducto" ng-reflect-router-link="detalleproducto" href="/detalleproducto"><i class="fa fa-eye"></i></a></li>
                            <li><a data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a routerLink="/detalleproducto" ng-reflect-router-link="detalleproducto" href="/detalleproducto">Crab Pool Security</a></h6>
                        <h5>$30.00</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix frutas">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="img/featured/feature-8.jpg">
                        <img src="images/banana1.jpg" width="100%" height="100%">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a routerLink="/detalleproducto" ng-reflect-router-link="detalleproducto" href="/detalleproducto"><i class="fa fa-eye"></i></a></li>
                            <li><a data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-shopping-cart"></i></a></li>
                            
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a routerLink="/detalleproducto" ng-reflect-router-link="detalleproducto" href="/detalleproducto">Crab Pool Security</a></h6>
                        <h5>$30.00</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="product__pagination">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#"><i class="fa fa-long-arrow-right"></i></a>
        </div>

    
</section>
<!-- Featured Section End -->


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Mensaje</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Se ha añadido el producto al carrito</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">Continuar Comprando</button>
          <a class="btn btn-success" routerLink="/carrito" ng-reflect-router-link="carrito" href="/carrito">Ver Carrito</a>
        </div>
      </div>
    </div>
  </div>
