<app-navcomer></app-navcomer>

<div class="text-center mb-4">
    <h2 class="display-4 font-weight-bold ">Inventario</h2>
    <p class="lead text-muted">Identificar, gestionar y controlar los productos que se encuentran en el inventario. </p>
  </div>

<div class="card shadow border-0 mb-7">
    <div class="table-responsive">
    <table class="table table-hover table-nowrap" id="ordersTable">
      <thead class="thead-light">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Aquí iteramos sobre los productos del inventario -->
        <tr *ngFor="let item of productos">
          <td>{{ item.id }}</td>
          <td>{{ item.nombre }}</td>
          <td>{{ item.descripcion }}</td>
          <td>{{ item.cantidad }}</td>
          <td>{{ item.precio | currency }}</td>
          <td>
            <button class="btn-custom" (click)="downloadProductPDF(item)">
                <i class="fas fa-download"></i> PDF
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <button class="btn-custom" (click)="downloadInventoryPDF()">Descargar Inventario en PDF</button>
  </div>
  
