<body>

    <div class="container-fluid">
        <h1 class="title">Productos</h1>
        <table class="product-table">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th onclick="sortTable(1)">Nombre</th>
                    <th onclick="sortTable(2)">Categoria</th>
                    <th onclick="sortTable(3)">Precio</th>
                    <th onclick="sortTable(4)">Stock</th>
                    <th onclick="sortTable(5)">Estado</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="images/manzana.jpg" alt="Producto 1" class="product-image"></td>
                    <td>Producto 1</td>
                    <td>$10.00</td>
                    <td><span class="badge badge-success">Disponible</span></td>
                    <td><button class="btn">Agregar al Carrito</button></td>
                </tr>
                <tr>
                    <td><img src="images/banana1.jpg" alt="Producto 2" class="product-image"></td>
                    <td>Producto 2</td>
                    <td>$20.00</td>
                    <td><span class="badge badge-danger">Agotado</span></td>
                    <td><button class="btn" disabled>Agotado</button></td>
                </tr>
                <!-- Agrega más productos según sea necesario -->
            </tbody>
        </table>
    </div>
    
    <script src="script.js"></script>
    </body>