  <!-- Comerciante-->
  <nav class="nav-user"> 
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/login" ng-reflect-router-link="login" href="/login">
                    <i class="fas fa-user"></i>
                    &nbsp;Mi Cuenta
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-bell"></i>
                    &nbsp;Notificaciones
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-sign-out-alt"></i>
                    &nbsp;Cerrar Sesión
                </a>
            </li>
        </ul>
  </nav>
