<header>
  <!-- Usuario -->
  <nav class="nav-user"> <!-- User -->
        <ul class="nav">
            <li class="nav-item">
                <a class="cart-link" routerLink="/login" ng-reflect-router-link="login" href="/login">
                    <i class="fas fa-user"></i>
                    &nbsp;Iniciar Sesión
                </a>
            </li>
        </ul>
  </nav>

  <!-- Logo Buscar Carrito-->
  <div class="container">
    <!-- logo -->
    <img src="images/Icono.png" alt="Logotipo" width="60px">

    <!-- Buscar -->
    <label class="open-search" for="open-search">
      <i class="fas fa-search"></i>
            <input class="input-open-search" id="open-search" type="checkbox" name="menu" />
      <div class="search">
        <button class="button-search"><i class="fas fa-search"></i></button>
        <input type="text" placeholder="Buscar" class="input-search"/>
      </div>
    </label>
    <div>
    <a class="cart-link" routerLink="/carrito" ng-reflect-router-link="carrito" href="/carrito">
        <i class="fas fa-shopping-cart"></i>
    </a>
    </div>
  </div>

  <!-- Navegacion Categorias-->
  <nav class="nav-categories"> 
    <ul class="nav">
        <li class="nav-link">
            <a class="" routerLink="/inicio" ng-reflect-router-link="inicio" href="/inicio">Inicio</a>
        </li>
        <li class="nav-link">
            <a  routerLink="/producto" ng-reflect-router-link="producto" href="/producto">Productos</a>
        </li>
    </ul>
  </nav>

</header>

 