
<header>

  <nav class="header"> 
    <ul class="nav">
        
        <li><a href="https://www.cadenadefrio.com.pa/Merca-Panama-1"><img src="images/Merca.png" width="15px"></a></li>
                <li><a href="https://www.facebook.com/cadenadefriopa/"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/cadenadefriopa/"><i class="fa-brands fa-square-instagram"></i></a></li>
                <li><a href="https://twitter.com/cadenadefriopa"><i class="fa-brands fa-square-twitter"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCsTuabeM_mAcdWnPRxXKicQ"><i class="fa-brands fa-square-youtube"></i></a></li>
                <li><a href=""><i class="fa-solid fa-envelope"></i> cosechando&#64;gmail.com</a></li>
    </ul>
</nav>

  <!-- Logo Buscar Carrito-->
  <div class="container">
    <!-- logo -->
    <img src="images/Icono.png" routerLink="/inicio" ng-reflect-router-link="inicio" href="/inicio" alt="Logotipo" width="60px">

    <!-- Buscar -->
    <label>
      <div class="search">
        <input 
          type="text" 
          placeholder="Buscar productos" 
          class="input-search"
          [(ngModel)]="searchTerm"
          (keyup.enter)="onSearch()"
        />
        <button 
          *ngIf="searchTerm" 
          class="clear-search-input" 
          (click)="clearSearch()"
          type="button"
        >
          <i class="fas fa-times"></i>
        </button>
        <button class="button-search" (click)="onSearch()">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </label>

    <div class="nav-icons">
    <!--Carrito -->
    <a class="cart-link" routerLink="/carrito" title="Ver Carrito">
        <i class="fas fa-shopping-cart"></i>
        <span class="cart-badge" *ngIf="(cartItemCount$ | async) as count; else: noBadge">
          {{ count }}
        </span>
        <ng-template #noBadge></ng-template>
    </a>
    <!-- Usuario-->
    <a class="user-link" routerLink="/login" (click)="onUserIconClick()" title="Iniciar Sesión">
      <i class="fas fa-user"></i>
    </a>
    </div>
  </div>

  <!-- Navegacion Categorias-->
  <nav class="nav-categories"> 
    <ul class="nav">
        <li class="nav-link">
            <a class="" routerLink="/inicio" ng-reflect-router-link="inicio" href="/inicio">Inicio</a>
        </li>
        <li class="nav-link">
            <a  routerLink="/producto" ng-reflect-router-link="producto" href="/producto">Productos</a>
        </li>
    </ul>
  </nav>

</header>

 